body,
p,
h1,
h2,
ul,
li {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

*::after,
*::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}

body {
    height: 400vh;
    max-width: 100%;
}




#trigger1 {
    display: block;
    position: absolute;
    box-sizing: content-box;
}

#trigger2 {
    display: block;
    position: absolute;
    box-sizing: content-box;

}




.container {
    width: 100%;
    height: 100%;
    position: fixed;
    transform-origin: 50% 50%;
}

#video {
    position: absolute;
    right: 0;
    width: 100%;
    transform: translateY(-40%);
    z-index: -21;
    border-radius: 55px;
    margin: 0 auto;
    left: 0;
    top: 0px;

}



.celular.active {
    width: 100%;
    height: 100%;
    z-index: 99;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(./download.png);
    z-index: 99;
    position: absolute;
    right: 0;

}

#video.active {
    width: 97%;
}

#video.disable {
    height: initial !important;
    width: 100%;
}